NEXT_PUBLIC_SUPABASE_URL=https://abcde12345.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOi...FAKE_KEY...eXAiOiJKV1Q
NEXT_PUBLIC_MERCH_QR_URL=
NEXT_PUBLIC_MERCH_QR_BUCKET=merchqr
NEXT_PUBLIC_MERCH_QR_FILE_PATH=aakar2026.jpeg
NEXT_PUBLIC_MERCH_3D_MODEL_URL=
NEXT_PUBLIC_MERCH_3D_BUCKET=3d tshirt
NEXT_PUBLIC_MERCH_3D_FILE_PATH=aakarTshirt.glb
NEXT_PUBLIC_MERCH_PHOTOS_BUCKET=
AUTH_SECRET="randomlyGeneratedSecretKey=="
MAIL_USER=test@example.com
MAIL_CLIENT_ID=1234567890-fakeclientid.apps.googleusercontent.com
MAIL_CLIENT_SECRET=FAKE_CLIENT_SECRET_123456
MAIL_ACCESS_TOKEN=ya29.fakeAccessToken123456789
MAIL_REFRESH_TOKEN=1//fakeRefreshToken123456789
NODE_ENV="development"